<?xml version="1.0"?>
<launch>
  <!-- Simulation -->
  <arg name="mav_name"              default="multirotor"/>
  <arg name="x"                     default="0"/>
  <arg name="y"                     default="0"/>
  <arg name="z"                     default="0.1"/>
  <arg name="yaw"                   default="0"/>
  <arg name="color"                 default="White"/>
  <arg name="paused"                default="false"/>
  <arg name="gui"                   default="true"/>
  <arg name="verbose"               default="false"/>
  <arg name="debug"                 default="false"/>
  <arg name="model"                 default="$(find roscopter_sim)/xacro/rosflight_sim.urdf.xacro"/>
  <arg name="model_name"            default="$(arg mav_name)_mav"/>
  <arg name="world_file"            default="worlds/empty.world"/>
  <arg name="tf_prefix"             default="$(optenv ROS_NAMESPACE)"/>
  <arg name="enable_logging"        default="false"/>
  <arg name="enable_ground_truth"   default="true"/>
  <arg name="log_file"              default="$(arg mav_name)"/>
  <arg name="enable_wind"           default="true"/>
  <arg name="sim_params"            default="$(find roscopter_sim)/params/$(arg mav_name)_gazebo.yaml"/>
  <arg name="rosflight_sim_ns"      default="rosflight_sim"/>
  <arg name="roscopter_sim_ns"      default="roscopter_sim"/>
  <arg name="rosflight_plugins_ns"  default="rosflight_plugins"/>
  <arg name="gazebo_properties_ns"  default="gazebo_properties"/>

  <!-- Start Simulator -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="world_name" value="$(arg world_file)"/>
  </include>

  <!-- Spawn Model in Gazebo -->
  <!-- send the robot XML to param server -->
  <param name="$(arg model_name)/robot_description" command="
    xacro --inorder '$(arg model)'
    mav_name:=$(arg mav_name)
    color:=$(arg color)
    sim_params:=$(arg sim_params)
    rosflight_sim_ns:=$(arg rosflight_sim_ns)
    roscopter_sim_ns:=$(arg roscopter_sim_ns)
    rosflight_plugins_ns:=$(arg rosflight_plugins_ns)
    gazebo_properties_ns:=$(arg gazebo_properties_ns)
    gazebo_namespace:=gazebo"
  />
  <param name="tf_prefix" type="string" value="$(arg tf_prefix)" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_$(arg model_name)" pkg="gazebo_ros" type="spawn_model"
    args="-param $(arg model_name)/robot_description
          -urdf
          -x $(arg x)
          -y $(arg y)
          -z $(arg z)
          -Y $(arg yaw)
          -gazebo_namespace gazebo
          -model $(arg model_name)"
    respawn="false" output="screen">
  </node>

  <rosparam command="load" file="$(arg sim_params)"/>

</launch>