 <!--ROScopter simulation using rosflight_sim SIL -->
<launch>

  <!-- Parameter Arguments -->
    <!-- mav_name is used for parameter filenames, and gazebo link name. Exclude dot extensions -->
  <arg name="mav_name" value="multirotor"/>
  <arg name="mav_sim_params" value="multirotor_gazebo"/>
  <arg name="waypoint_list" value="waypoints"/>

  <!-- Namespace Arguments -->
  <arg name="rosflight_ns" value="rosflight"/>
  <arg name="rosflight_sim_ns" value="rosflight_sim"/>
  <arg name="roscopter_ns" value="roscopter"/>
  <arg name="rosflight_plugins_ns" value="rosflight_plugins"/>
  <arg name="gazebo_properties_ns" value="gazebo_properties"/>

  <!-- Load ROScopter Parameters -->
  <rosparam ns="$(arg roscopter_ns)" command="load" file="$(find roscopter)/params/$(arg mav_name).yaml"/>
  <rosparam ns="$(arg roscopter_ns)" command="load" file="$(find roscopter)/params/$(arg waypoint_list).yaml"/>

  <!--Gazebo Simulation -->
  <include file="$(find roscopter_sim)/launch/sub_launch/spawn_mav_gazebo.launch">
    <arg name="mav_name" value="$(arg mav_name)"/>
    <arg name="x" value="0"/>
    <arg name="y" value="0"/>
    <arg name="z" value="0.1"/>
    <arg name="yaw" value="0"/>
    <arg name="sim_params" value="$(find roscopter_sim)/params/$(arg mav_sim_params).yaml"/>
    <arg name="model" value="$(find roscopter_sim)/xacro/rosflight_sim.urdf.xacro"/>
    <arg name="rosflight_sim_ns" value="$(arg rosflight_sim_ns)"/>
    <arg name="rosflight_plugins_ns" value="$(arg rosflight_plugins_ns)"/>
    <arg name="gazebo_properties_ns" value="$(arg gazebo_properties_ns)"/>
  </include>

  <!-- FCU communication -->
  <node ns="$(arg rosflight_ns)" name="rosflight_io" pkg="rosflight" type="rosflight_io" output="screen">
    <param name="udp" value="true"/>
    <remap from="imu/data" to="/$(arg rosflight_sim_ns)/imu/data"/>
  </node> 

  <!-- RC -->
  <node ns="$(arg rosflight_ns)" pkg="rosflight_joy" type="rc_keyboard" name="rc_node" output="screen">
    <param name="auto_arm" value="true"/>
    <param name="auto_takeoff" value="true"/>
    <remap from="status" to ="/$(arg rosflight_ns)/status"/>
    <remap from="RC" to="/$(arg rosflight_sim_ns)/RC"/>
  </node>

  <!-- Waypoint Management -->
  <node ns="$(arg roscopter_ns)" name="waypoint_manager" pkg="roscopter" type="waypoint_manager.py" output="screen">
    <remap from="state" to="/$(arg roscopter_ns)/odom"/>
  </node>

  <!-- Control -->
  <node ns="$(arg roscopter_ns)" name="controller" pkg="roscopter" type="controller" output="screen">
    <param name="param_namespace" value="controller"/>
    <remap from="command" to="/$(arg rosflight_ns)/command"/>
    <!--inputs-->
    <remap from="estimate" to="/$(arg roscopter_ns)/odom"/>
    <remap from="status" to ="/$(arg rosflight_ns)/status"/>
    <remap from="is_flying" to="/$(arg roscopter_ns)/is_flying"/>
  </node>

  <!--Estimator-->
  <node ns="$(arg roscopter_ns)" name="estimator" pkg="roscopter" type="ekf_node" output="screen">
    <param name="param_filename" value="$(find roscopter)/params/$(arg mav_name).yaml"/>
    <param name="param_namespace" value="estimator"/>
    <!--inputs-->
    <remap from="imu" to="/$(arg rosflight_sim_ns)/imu/data"/>
    <remap from="gnss" to="/$(arg rosflight_plugins_ns)/gps/data"/>
    <remap from="baro" to="/$(arg rosflight_plugins_ns)/baro/data"/>
  </node>

</launch>