
<launch>

  <!-- Parameter Arguments -->
    <!-- mav_name is used for parameter filenames, and gazebo link name. Exclude dot extensions -->
  <arg name="mav_name" value="multirotor"/>
  <arg name="mav_sim_params" value="multirotor_gazebo"/>
  <arg name="waypoint_list" value="waypoints"/>

  <!-- Namespace Arguments -->
  <arg name="roscopter_ns" value="roscopter"/>
  <arg name="roscopter_sim_ns" value="roscopter_sim"/>
  <arg name="rosflight_plugins_ns" value="rosflight_plugins"/> 
  <arg name="gazebo_properties_ns" value="gazebo_properties"/>

  <!-- Load ROScopter Parameters -->
  <rosparam ns="$(arg roscopter_ns)" command="load" file="$(find roscopter)/params/$(arg mav_name).yaml"/>
  <rosparam ns="$(arg roscopter_ns)" command="load" file="$(find roscopter)/params/$(arg waypoint_list).yaml"/>

  <!-- Gazebo Simulation -->
  <include file="$(find roscopter_sim)/launch/sub_launch/spawn_mav_gazebo.launch">
    <arg name="mav_name" value="$(arg mav_name)"/>
    <arg name="x" value="0"/>
    <arg name="y" value="0"/>
    <arg name="z" value="0.1"/>
    <arg name="yaw" value="0"/>
    <arg name="model" value="$(find roscopter_sim)/xacro/roscopter_sim.urdf.xacro"/>
    <arg name="sim_params" value="$(find roscopter_sim)/params/$(arg mav_sim_params).yaml"/>
    <arg name="roscopter_sim_ns" value="$(arg roscopter_sim_ns)"/>
    <arg name="rosflight_plugins_ns" value="$(arg rosflight_plugins_ns)"/>
    <arg name="gazebo_properties_ns" value="$(arg gazebo_properties_ns)"/>
  </include>

  <!-- Is Flying Publisher -->
    <node pkg="rostopic" type="rostopic" name="is_flying_pub" args="pub /is_flying std_msgs/Bool true"/>

   <!-- Status Publisher -->
    <node pkg="rostopic" type="rostopic" name="status_pub" args="pub -r 1 status rosflight_msgs/Status '{armed: true, failsafe: false, rc_override: false, offboard: true, error_code: 0, num_errors: 0, loop_time_us: 1}'"/>

  <!-- Waypoint Management -->
  <node ns="$(arg roscopter_ns)" name="waypoint_manager" pkg="roscopter" type="waypoint_manager.py" output="screen">
    <remap from="state" to="/$(arg roscopter_ns)/odom"/>
  </node>

  <!-- Control -->
  <node ns="$(arg roscopter_ns)" name="controller" pkg="roscopter" type="controller" output="screen">
    <remap from="command" to="/$(arg roscopter_sim_ns)/command"/>
    <!--inputs-->
    <remap from="estimate" to="/$(arg roscopter_ns)/odom"/>
    <remap from="status" to ="/status"/>
    <remap from="is_flying" to="/is_flying"/>
  </node>

  <!--Estimator-->
  <node ns="$(arg roscopter_ns)" name="estimator" pkg="roscopter" type="ekf_node" output="screen">
    <param name="param_filename" value="$(find roscopter)/params/multirotor.yaml"/>
    <param name="param_namespace" value="estimator"/>
    <!--inputs-->
    <remap from="imu" to="/$(arg rosflight_plugins_ns)/imu/data"/>
    <remap from="gnss" to="/$(arg rosflight_plugins_ns)/gps/data"/>
    <remap from="baro" to="/$(arg rosflight_plugins_ns)/baro/data"/>
    <!--outputs-->
    <remap from="is_flying" to="not_for_sim"/>
  </node>

  <!--Throttle ground truth for use in the estimator. Estimator cant handle 1000hz-->
  <node name="truth_throttler" type="throttle" pkg="topic_tools" args="messages /$(arg rosflight_plugins_ns)/ground_truth/odometry/NED 100 /truth_NED_throttled"/>

</launch>
