<?xml version="1.0"?>

<launch>
	<arg name="waypoints_pid"	default="$(find mass_visual)/param/tchalla.yaml"/>
  <arg name="gps_topic"		default="\tchalla_ned"/>
  <!-- FCU communication -->
  <node name="rosflight_io" pkg="rosflight" type="rosflight_io" output="screen">
    <param name="port" value="/dev/ttyACM0"/>
    <param name="udp" value="false"/>
  </node>
  <node name="calibrate" pkg="rosservice" type="rosservice" args="call --wait /calibrate_imu"/>
  <node name="mocap_mapping" pkg="optitrack_vrpn" type="node">
  	<param name="frame" value="world"/>
  </node>
  <!-- Load common parameters -->
  <rosparam command="load" file="$(find roscopter)/params/F450.yaml"/>
  <rosparam command="load" file="$(arg waypoints_pid)"/>
  <!-- PID Position Controller -->
  <node name="controller" pkg="roscopter" type="controller">
    <remap from="estimate" to="odom"/>
  </node>

  <!-- Estimator -->
  <rosparam command="load" file="$(find roscopter)/params/ekf.yaml" ns="estimator"/>
  <rosparam command="load" file="$(find roscopter)/params/ekf_drone.yaml" ns="estimator"/>
  <node name="estimator" type="ekf_node" pkg="roscopter" output="screen">
	  <remap to="/imu/data" from="imu"/>
	  <remap to="/tchalla_ned" from="pose"/>
  </node>

  <!-- Waypoint Manager -->
  <node name="waypoint_manager" pkg="roscopter" type="waypoint_manager.py" output="screen">
    <remap from="waypoint" to="high_level_command"/>
    <remap from="state" to="odom"/>
  </node>

</launch>
