<?xml version="1.0"?>

<launch>

  <rosparam command="load" file="$(find mocap_controller)/param/vi_ekf_gains.yaml" ns="vi_ekf_node"/>
  <rosparam command="load" file="$(find mocap_controller)/param/vi_ekf_drone.yaml" ns="vi_ekf_node"/>

  <!-- FCU communication -->
  <node name="rosflight_io" pkg="rosflight" type="rosflight_io" output="screen">
    <param name="udp" value="true"/>
  </node>

  <!-- Load common parameters -->
  <rosparam command="load" file="$(find roscopter)/params/F450.yaml"/>

  <!-- PID Position Controller -->
  <node name="controller" pkg="roscopter" type="controller">
    <remap from="estimate" to="odom"/>
  </node>

  <!-- Estimator -->
  <node name="estimator" type="ekf_node" pkg="roscopter" output="screen">
    <remap from="imu" to="/imu/data"/>
    <remap from="truth/pose" to="/vrpn_client_node/planck/pose"/>
    <remap from="truth/transform" to="/multirotor/truth/NED"/>
  </node>

  <!-- Waypoint Manager -->
  <node name="waypoint_manager" pkg="roscopter" type="waypoint_manager.py" output="screen">
    <remap from="waypoint" to="high_level_command"/>
    <remap from="state" to="odom"/>
  </node>

</launch>