<!-- This is a launch file that runs the bare minimum requirements to get -->
<!-- gazebo running.  It requires a relative_nav::Command on /command -->
<!-- to move the hex, and outputs imu, altimeter, laserscan and RGBD images -->
<!-- as well as a relative_nav::FilterState message on /global_state  -->
<!-- a geometry_msgs::StampedTransform on /mocap to imitate motion capture -->


<launch>
  <arg name="mav_name"            default="shredder"/>
  <arg name="enable_ground_truth" default="true" />
  <arg name="log_file"            default="$(arg mav_name)" />
  <arg name="color"               default="Blue"/>
  <arg name="x"                   default="0"/>
  <arg name="y"                   default="0"/>
  <arg name="z"                   default="0.1"/>
  <arg name="yaw"                 default="0"/>

  <arg name="world_file" default="cylinders.world"/>

  <!-- Start Simulator -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find fcu_sim)/worlds/$(arg world_file)"/>
    <arg name="paused" value="true"/>
    <arg name="gui" value="true"/>
  </include>

  <!-- Spawn in Gazebo -->
  <include file="$(find fcu_sim)/launch/spawn_mav.launch">
    <arg name="mav_name"            value="$(arg mav_name)" />
    <arg name="model"               value="$(find fcu_sim)/urdf/$(arg mav_name)/$(arg mav_name)_base.xacro" />
    <arg name="enable_ground_truth" value="true" />
    <arg name="x"                   value="$(arg x)"/>
    <arg name="y"                   value="$(arg y)"/>
    <arg name="z"                   value="$(arg z)"/>
    <arg name="yaw"                 value="$(arg yaw)"/>
    <arg name="color"               value="$(arg color)"/>
  </include>

  <!-- Position Controller -->
  <node name="controller" pkg="ros_copter" type="controller" output="screen">
    <remap from="estimate" to="$(arg mav_name)/ground_truth/odometry"/>
  </node>

  <!-- Is Flying Publisher -->
  <node pkg="rostopic" type="rostopic" name="is_flying_pub" args="pub /is_flying std_msgs/Bool true"/>

  <!--Estimation-->
   <!-- <node name="ekf" pkg="ros_copter"  type="ekf" output="screen">
     <rosparam command="load" file="$(find ros_copter)/params/estimator.yaml" />
     <remap from="/imu/data" to="/shredder/imu"/>
     <remap from="mocap" to="/shredder/ground_truth/odometry"/>
   </node> -->

  <!-- Waypoint Manager -->
  <node name="waypoint_manager" pkg="ros_copter" type="waypoint_manager.py">
    <rosparam command="load" file="$(find ros_copter)/params/waypoints.yaml"/>
    <param name="waypoint_filename" value="$(find ros_copter)/params/waypoints.csv"/>
    <remap from="state" to="shredder/ground_truth/odometry"/>
  </node>

  <!-- FPV -->
  <!-- <node name="fpv" pkg="image_view" type="image_view">
    <remap from="image" to="/$(arg mav_name)/camera/rgb/image_raw"/>
  </node> -->
</launch>
