<launch>

 <!-- Set non-default parameters -->

 <!--Estimation-->
  <node name="ekf" pkg="ros_copter"  type="ekf" output="screen">
    <rosparam command="load" file="$(find ros_copter)/params/estimator.yaml" />
    <remap from="mocap" to="/naze/CG"/> 
  </node>
  
  <node name="record" pkg="rosbag" type="record" args="-O naze -a"/>
  <node name="play" pkg="rosbag" type="play" args="/home/iman/.ros/naze_balanced_props.bag -s 10 -u 35">
   <remap from="relative_state" to="transformed_mocap"/>
  </node>
 

</launch>
